@use '../../../assets/style/colors' as color;

.previewTxt{
  color: color.$black-fontBg-clon;
  font-size: 15px;
}

.pinTitle{
  color: color.$black-fontBg-clon;
  font-size: 38px;
  margin-bottom: 10px;
}

.pinTxt{
  color: color.$black-fontBg-clon;
  font-size: 16px;
}