/********************************
    Blue
*********************************/


$white-bg-clon: #FBF9F9;
$white-font-clon: #FCF9FC;
$grey-bg-clon: #E0E0E0;

$pink-clon: #C530C3;
$pink-faded-clon: #E79CE6;

$black-fontBg-clon: #100410;



$to-White: invert(98%) sepia(2%) saturate(150%) hue-rotate(71deg) brightness(113%) contrast(99%);

