@use '../../../assets/style/colors' as color;

.feedBtn, .iconBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1rem 0.5em 1rem;
  border: none;
  background-color: transparent;
  border-radius: 30px;
  font-size: 20px;
}

.iconBtn{
  width: 32px;
  height: auto;

  img{
    width: 48px;
  height: 48px;
  border-radius: 50%;
  }
}


.feedBtn:hover{
  color: color.$white-font-clon;
  background-color: color.$black-fontBg-clon;
}

.colorBtn{
  width: 100px;
  height: 48px;
  border: none;
  font-size: 20px;
  border-radius: 30px;
  color: color.$white-font-clon;
  background-color: color.$pink-clon;
  justify-self: flex-end;
  font-weight: 500;
}