@use '../../../assets/style/colors' as color;

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  padding: 10px 30px 10px 30px;
  margin: 0px;
  background-color: color.$white-bg-clon;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: color.$pink-clon;
}

.ico{
  width: 30px;
  height: auto;
  filter: color.$to-White;
}