@use '../../../assets/style/colors' as color;

.pinBody{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: color.$white-bg-clon;
  max-width: 900px;
  height: 600px;
  border-radius: 30px;
  margin: 30px;
  justify-items: center;
  gap: 0px;
}

.pinText{
  display: grid;
  grid-template-rows: 1fr 9fr;
  align-items:flex-start;
  width: 410px;
  row-gap: 20px;
  padding: 28px 28px 28px 0px;
 
}

.pinImg{
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  max-width: 450px;
  height: inherit;
  object-fit: contain;
  align-self: center;
  justify-self: flex-start;
  background-color: black;

}